/* importacion de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* fecha hora*/

#fecha-hora {
    padding-bottom: 20px;
    padding-right: 5%;
    text-align: end;
}

/* comando global cuerpo pagina*/
* {
    font-family: 'Roboto';
}

body {
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    padding: 2%;
    text-align: center;
}

header h1 {
    font-size: 40px;
    letter-spacing: 1px;
    margin: 0;
}

nav {
    background-color: #211a1a;
    border-bottom: 1px solid #00913a;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    transition: border-color 0.3s ease;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid #000000;
}

.barra-navegacion {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.434);
    margin: 0 auto;
    align-self: center;
    border-radius: 50px;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    max-width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 5px 3%;
}

.barra-izquierda,
.navbar-right {
    align-items: center;
    display: grid;
}

.barra-centro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px 50px;
    padding: 10px 20px;
    min-width: 0;
}


.barra-centro a {
    text-decoration: none;
}

/* menu hamburguesa */
.menu-hamburguesa {

    cursor: pointer;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    padding-top: 5px;
    width: 30px;
}

.menu-hamburguesa span {
    background-color: #333;
    height: 3px;
    transition: all 0.2s ease;
    width: 100%;
}

/* barra busqueda */
.search {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    height: 25px;
    outline: none;
    padding: 0 10px;
    transition: all 0.2s ease;
    max-width: 100%;
    min-width: 0px;
}

.search:hover {
    border-color: #b3b3b3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* menu hamburguesa */
.menu-hamburguesa {

    cursor: pointer;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    padding-top: 5px;
    width: 30px;
}

.menu-hamburguesa span {
    background-color: #333;
    height: 3px;
    transition: all 0.2s ease;
    width: 100%;
}

/* botones */
.carrito {
    background-color: #636363;
    border-color: #636363;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 26px;
    padding: 0 15px;
    transition: all 0.2s ease;
}

.carrito:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5px);
}

.carrito:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(0.5px);
}

@media (max-width: 985px) {
    .menu-hamburguesa {
        display: flex;
    }

    .barra-navegacion {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }

    .barra-izquierda,
    .navbar-right {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 10px;
    }

    .barra-centro {
        background-color: #f8f8f8;
        display: none;
        flex-direction: column;
        left: 0;
        padding: 1rem;
        position: absolute;
        text-align: center;
        top: 100%;
        width: 25%;
        z-index: 99;
    }

    .barra-centro.active {
        display: flex;
    }

    .barra-centro a {
        margin-top: 10px;
    }

    .menu-hamburguesa.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-hamburguesa.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-hamburguesa.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .carrito {
        margin-top: 0;
        position: relative;
        z-index: 101;
    }

    .search {
        width: auto;
        flex: 1;
    }
}


@media (max-width: 431px) {
    .contenedor-principal {
        grid-template-columns: 1fr;
    }
    .search {
        width: 50px;
    }

    .productos-carrito {
        max-width: 100%;
    }

    .producto-venta {
        flex: 1 1 100%;
    }
}